<!doctype html>
<html lang="en">

<head>

{{ "<!--" | safeHTML }}

                                  ,--,
          ____                 ,---.'|
        ,'  , `.   ,---,       |   | :      ,---,                  .---.   ,---,
     ,-+-,.' _ |  '  .' \      :   : |     '  .' \                /. ./|,`--.' |
  ,-+-. ;   , || /  ;    '.    |   ' :    /  ;    '.          .--'.  ' ;|   :  :
 ,--.'|'   |  ;|:  :       \   ;   ; '   :  :       \        /__./ \ : |:   |  '
|   |  ,', |  '::  |   /\   \  '   | |__ :  |   /\   \   .--'.  '   \' .|   :  |
|   | /  | |  |||  :  ' ;.   : |   | :.'||  :  ' ;.   : /___/ \ |    ' ''   '  ;
'   | :  | :  |,|  |  ;/  \   \'   :    ;|  |  ;/  \   \;   \  \;      :|   |  |
;   . |  ; |--' '  :  | \  \ ,'|   |  ./ '  :  | \  \ ,' \   ;  `      |'   :  ;
|   : |  | ,    |  |  '  '--'  ;   : ;   |  |  '  '--'    .   \    .\  ;|   |  '
|   : '  |/     |  :  :        |   ,/    |  :  :           \   \   ' \ |'   :  |
;   | |`-'      |  | ,'        '---'     |  | ,'            :   '  |--" ;   |.'
|   ;/          `--''              ,----,`--''               \   \ ;    '---'
'---'                            ,/   .`|                     '---"                                             ,--.
    ,---,       ,---,          ,`   .'  : ,---,                 .--.--.     ,----..     ,---,    ,---,.       ,--.'|  ,----..      ,---,.
  .'  .' `\    '  .' \       ;    ;     /'  .' \               /  /    '.  /   /   \ ,`--.' |  ,'  .' |   ,--,:  : | /   /   \   ,'  .' |
,---.'     \  /  ;    '.   .'___,/    ,'/  ;    '.            |  :  /`. / |   :     :|   :  :,---.'   |,`--.'`|  ' :|   :     :,---.'   |
|   |  .`\  |:  :       \  |    :     |:  :       \           ;  |  |--`  .   |  ;. /:   |  '|   |   .'|   :  :  | |.   |  ;. /|   |   .'
:   : |  '  |:  |   /\   \ ;    |.';  ;:  |   /\   \          |  :  ;_    .   ; /--` |   :  |:   :  |-,:   |   \ | :.   ; /--` :   :  |-,
|   ' '  ;  :|  :  ' ;.   :`----'  |  ||  :  ' ;.   :          \  \    `. ;   | ;    '   '  ;:   |  ;/||   : '  '; |;   | ;    :   |  ;/|
'   | ;  .  ||  |  ;/  \   \   '   :  ;|  |  ;/  \   \          `----.   \|   : |    |   |  ||   :   .''   ' ;.    ;|   : |    |   :   .'
|   | :  |  ''  :  | \  \ ,'   |   |  ''  :  | \  \ ,'          __ \  \  |.   | '___ '   :  ;|   |  |-,|   | | \   |.   | '___ |   |  |-,
'   : | /  ; |  |  '  '--'     '   :  ||  |  '  '--'           /  /`--'  /'   ; : .'||   |  ''   :  ;/|'   : |  ; .''   ; : .'|'   :  ;/|
|   | '` ,/  |  :  :           ;   |.' |  :  :                '--'.     / '   | '/  :'   :  ||   |    \|   | '`--'  '   | '/  :|   |    \
;   :  .'    |  | ,'           '---'   |  | ,'                  `--'---'  |   :    / ;   |.' |   :   .''   : |      |   :    / |   :   .'
|   ,.'      `--''                     `--''                               \   \ .'  '---'   |   | ,'  ;   |.'       \   \ .'  |   | ,'
'---'                                          ,----,                       `---`            `----'    '---'          `---`    `----'
               ,----..       ,----..         ,/   .`|                                   ____  ,-.----.
    ,---,.    /   /   \     /   /   \      ,`   .'  : ,----..     ,---,               ,'  , `.\    /  \
  ,'  .'  \  /   .     :   /   .     :   ;    ;     //   /   \   '  .' \           ,-+-,.' _ ||   :    \
,---.' .' | .   /   ;.  \ .   /   ;.  \.'___,/    ,'|   :     : /  ;    '.      ,-+-. ;   , |||   |  .\ :
|   |  |: |.   ;   /  ` ;.   ;   /  ` ;|    :     | .   |  ;. /:  :       \    ,--.'|'   |  ;|.   :  |: |
:   :  :  /;   |  ; \ ; |;   |  ; \ ; |;    |.';  ; .   ; /--` :  |   /\   \  |   |  ,', |  ':|   |   \ :
:   |    ; |   :  | ; | '|   :  | ; | '`----'  |  | ;   | ;    |  :  ' ;.   : |   | /  | |  |||   : .   /
|   :     \.   |  ' ' ' :.   |  ' ' ' :    '   :  ; |   : |    |  |  ;/  \   \'   | :  | :  |,;   | |`-'
|   |   . |'   ;  \; /  |'   ;  \; /  |    |   |  ' .   | '___ '  :  | \  \ ,';   . |  ; |--' |   | ;
'   :  '; | \   \  ',  /  \   \  ',  /     '   :  | '   ; : .'||  |  '  '--'  |   : |  | ,    :   ' |
|   |  | ;   ;   :    /    ;   :    /      ;   |.'  '   | '/  :|  :  :        |   : '  |/     :   : :
|   :   /     \   \ .'      \   \ .'       '---'    |   :    / |  | ,'        ;   | |`-'      |   | :
|   | ,'       `---`         `---`                   \   \ .'  `--''          |   ;/          `---'.|
`----',----,     ,----..        ,----,       ,---,    `---`                   '---'             `---`
    .'   .' \   /   /   \     .'   .' \   ,`--.' |
  ,----,'    | /   .     :  ,----,'    | /    /  :
  |    :  .  ;.   /   ;.  \ |    :  .  ;:    |.' '
  ;    |.'  /.   ;   /  ` ; ;    |.'  / `----':  |
  `----'/  ; ;   |  ; \ ; | `----'/  ;     '   ' ;
    /  ;  /  |   :  | ; | '   /  ;  /      |   | |
   ;  /  /-, .   |  ' ' ' :  ;  /  /-,     '   : ;
  /  /  /.`| '   ;  \; /  | /  /  /.`|     |   | '
./__;      :  \   \  ',  /./__;      :     '   : |
|   :    .'    ;   :    / |   :    .'      ;   |.'
;   | .'        \   \ .'  ;   | .'         '---'
`---'            `---`    `---'


Hello there :) If you are a participant in the Data Science Bootcamp or
Python Week of Code and reading this, send an email to info@mwdata.science and
let us know that you found the secret Easter Egg! The first one, will win a
special prize!


{{ "-->" | safeHTML }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{ hugo.Generator }}

  {{ $appleTouchIcon := "/static/apple-touch-icon.png" }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ $appleTouchIcon | absURL }}">

  {{ $favicon32x32 := "/static/favicon-32x32.png" }}
  <link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32x32 | absURL }}">

  {{ $favicon16x16 := "/static/favicon-16x16.png" }}
  <link rel="icon" type="image/png" sizes="16x16" href="{{ $favicon16x16 | absURL }}">

  {{ $siteWebmanifest := "/static/site.webmanifest" }}
  <link rel="manifest" href="{{ $siteWebmanifest | absURL }}">

  {{ $safariPinnedTab := "/static/safari-pinned-tab.svg" }}
  <link rel="mask-icon" href="{{ $safariPinnedTab | absURL }}" color="{{ .Site.Params.faviconSafariPinnedTabColor }}">


  <meta name="description" content="{{ block "description" . }}{{ (.Params.description | default .Site.Params.description ) }}{{ end }}">
  <meta property="og:description" content="{{ block "og_description" . }}{{ (.Params.description | default .Site.Params.description ) }}{{ end }}" />
  <meta itemprop="description" content="{{ block "itemprop_description" . }}{{ (.Params.description | default .Site.Params.description ) }}{{ end }}">
  <meta name="twitter:description" content="{{ block "twitter_description" . }}{{ (.Params.description | default .Site.Params.description ) }}{{ end }}">

  <meta property="og:url"         content="{{ .Permalink | absURL }}" />
  <meta itemprop="url" content="{{ .Permalink | absURL }}" />

  <meta property="og:type" content="article" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@mwdatascience">
  <meta name="twitter:creator" content="@mwdatascience">

  <meta name="twitter:image" content="{{ block "twitter_image" . }}{{ "/static/some_preview.jpeg" | absURL }}{{ end }}">
  <meta property="og:image" content="{{ block "og_image" . }}{{ "/static/some_preview.jpeg" | absURL }}{{ end }}" />
  <meta itemprop="image" content="{{ block "itemprop_image" . }}{{ "/static/some_preview.jpeg" | absURL }}{{ end }}">

  <meta name="msapplication-TileColor" content="{{ .Site.Params.faviconMsApplicationTileColor }}">

  <meta name="theme-color" content="{{ .Site.Params.faviconThemeColor }}">

  {{ $sass := resources.Get "static/sass/mwdata.scss" }}
  {{ $style := $sass | resources.ToCSS | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />

  {{ if .IsHome }}
    {{ $homepage := "Home" }}
    {{ with .Site.Menus.nav }}
      {{ range first 1 . }}
        {{ $homepage = .Name }}
      {{ end }}
    {{ end }}
    <title>{{ .Site.Title }}</title>
    <meta name="twitter:title" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ .Site.Title }}" />
  {{ else }}
    <title>{{ .Params.Title }} | {{ .Site.Title }}</title>
    <meta name="twitter:title" content="{{ .Params.Title | default .Site.Title }} | {{ .Site.Title }}">
    <meta property="og:title" content="{{ .Params.Title | default .Site.Title }} | {{ .Site.Title }}" />
  {{ end }}

</head>

<body>

<div class="mwdata-logo">
    <div class="container">
    <div>
      <a href="/" title="Go to start page">
        {{ $logo := "/static/mwdata-logo.svg" }}
        <img src="{{ $logo | absURL }}" alt="Malawi Data Science Bootcamp logo" style="width: 100%; margin: 20px 0;" />
      </a>
    </div>
    </div>
</div>

  {{ partial "nav.html" . }}

  <div class="container" id="article">
    <article>
      {{ block "main" . }}{{ end }}
    </article>
  </div>

<footer>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
        <a href="https://github.com/mwdata-science/website/" target="_blank">Contribute to this website on Github</a><br>
        Twitter: <a href="https://twitter.com/mwdatabootcamp" target="_blank">@mwdatabootcamp</a><br>
        LinkedIn: <a href="https://linkedin.com/company/mwdata" target="_blank">@mwdata</a>
        </div>
        <div class="col-md-6">
        Email: <a href="mailto:info@mwdata.science">info@mwdata.science</a><br>
        </div>
    </div>
    </div>
</footer>

  {{ partial "bootstrap-js.html" . }}
</body>

</html>
