{% extends "base.html" %}

{% block title %}Registration: Closed{% endblock %}

{% block content %}

<h1>Registration</h1>

<p>
    <strong>Registration is now closed: We are sorry if you wanted to go, but we will do our best to ensure that this will not be the only event of its type. Please follow us on Twitter and LinkedIn and keep an eye on our website for future announcements.</strong>
</p>

<p>
    To register for the event, please fill in this form <u>before June 30th</u>.
    If you are applying for a scholarship, you need to fill in this form before
    applying.
</p>

<p>
    Applications for scholarships will open separately around mid-July and registrants will be informed directly via email.
</p>

<!--
<form method="POST" enctype="multipart/form-data" action="#">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>

<p>
    <button type="submit" disabled="true">Send</button>
</p>
</form>
-->
{% endblock %}
