{% extends "base.html" %}

{% block title %}Registration: Python Week of Code{% endblock %}

{% block content %}

<h1>Registration</h1>
<p>
    To register for the Python Week of Code, please fill in this form <u>before September 1st</u>.
    We will give everyone answers around mid-September.
</p>

<form method="POST" enctype="multipart/form-data" action="#">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>

<p>
    <button type="submit" disabled="true">Send</button>
</p>
</form>

{% endblock %}
