{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}

<h1>Registration</h1>

<p>
    To register for the event, please fill in this form <u>before June 30th</u>.
    If you are applying for a scholarship, you need to fill in this form before
    applying.
</p>

<p>
    Applications for scholarships will open separately around mid-July and registrants will be informed directly via email.
</p>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>

<p>
    <button type="submit">Send</button>
</p>
</form>
{% endblock %}
