{% extends "base.html" %}

{% block title %}Registration: Python Week of Code{% endblock %}

{% block content %}

<h1>Registration closed</h1>

<p>
    <strong>Registration for Python Week of Code is now closed and everyone who
    applied will be informed directly.</strong>
</p>
<p>
    We are sorry if you wanted to apply and that it's now to late:
    We will do our best to ensure that this will not be the only event of its
    type. Please follow us on Twitter and LinkedIn and keep an eye on our
    website for future announcements.
</p>


{% comment #}
<h1>Registration</h1>

<p>
    To register for the Python Week of Code, please fill in this form <u>before September 1st</u>.
    We will give everyone answers around mid-September.
</p>

<form method="POST" enctype="multipart/form-data" action="#">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>

<p>
    <button type="submit">Send</button>
</p>
</form>

{% endcomment #}

{% endblock %}
