{{- define "main" -}}

{{- $original := ((site.GetPage "/speakers").Resources.GetMatch (printf "*%s*" .Params.img_name)) -}}
{{- $new := "" -}}
{{- $new = $original.Fill "300x300" -}}

<img src="{{ $new.Permalink }}" alt="Speaker" class="img-speaker float-right" />
<h1>{{ .Title | markdownify }}</h1>

<p class="speaker-some">
{{ if .Params.twitter }}
<a href="https://twitter.com/{{ .Params.twitter }}" target="_blank">🐦 @{{ .Params.twitter }}</a>
{{ end }}
{{ if .Params.slides }}
<a href="{{ .Params.slides }}" target="_blank">🎞️ View slides</a>
{{ end }}
</p>

<div class="speaker-text">

{{ .Content }}

</div>

<div style="clear: both"></div>


<div class="program-entries">
<h3>Program entries</h3>


{{ range sort (where (where (where site.RegularPages.ByDate "Section" "program-entries") "published" "!=" "false") "Params.speaker" "==" .File.ContentBaseName ) ".Params.program_slot" "asc" }}

  <a href="{{ .Permalink }}">

  <h1>{{ .Params.title }}</h1>
  <h5>{{ .Params.program_slot }}</h5>

  {{ if .Content }}
    <p>
    {{ .Content | truncate 300 }} <a href="{{ .Permalink }}">Read more »</a>
    </p>
  {{ end }}

{{else}}

<em>No program entries found.</em>

{{ end }}
</div>

<style media="none">

.program-entries,
nav,
footer > *,
.speaker-some
{
  display: none
}

.mwdata-logo img {
  height: 75px;
}


.speaker-text p {
  font-size: 150%;
}

body {
height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%
}

.container {

}

</style>

{{ end }}



{{- define "twitter_image" -}}
{{ (printf "/static/some/%s.png" .File.ContentBaseName) | absURL }}
{{- end -}}

{{- define "itemprop_image" -}}
{{ (printf "/static/some/%s.png" .File.ContentBaseName) | absURL }}
{{- end -}}

{{- define "og_image" -}}
{{ (printf "/static/some/%s.png" .File.ContentBaseName) | absURL }}
{{- end -}}

{{- define "description" -}}
{{ .Summary | truncate 200 }}
{{- end -}}

{{- define "og_description" -}}
{{ .Summary | truncate 200 }}
{{- end -}}

{{- define "itemprop_description" -}}
{{ .Summary | truncate 200 }}
{{- end -}}

{{- define "twitter_description" -}}
{{ .Summary | truncate 200 }}
{{- end -}}
