<table class="tg">
<thead>
  <tr>
    <th>Day</th>
    <th>Time</th>
    <th>Topics</th>
    <th>Facilitator</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><strong>Monday, 18th</strong></td>
    <td>8:30</td>
    <td>Registration open</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>9:00 - 11:00</td>
    <td>Introduction
      <ul>
        <li>The Python interpreter.</li>
        <li>Practice interactive commands and files.</li>
        <li>Anaconda: how to use it and practice commands.</li>
        <li>Data types (int, float, string, bool).</li>
        <li>The print statement and variables.</li>
      </ul>
    </td>
    <td>Jessica Upani</td>
  </tr>
  <tr>
    <td></td>
    <td>11:30 13:00</td>
    <td>Data structures
      <ul>
        <li>Lists</li>
        <li>Tuples</li>
        <li>Dictionaries</li>
        <li>Sets</li>
      </ul>
    </td>
    <td>Jessica Upani</td>
  </tr>
  <tr>
    <td></td>
    <td>14:00 - 16:00</td>
    <td>Decision making and repetition structures
      <ul>
        <li>If statements</li>
        <li>Loops</li>
      </ul>
    </td>
    <td>Jessica Upani</td>
  </tr>
  <tr>
    <td><strong>Tuesday, 19th</strong></td>
    <td>9:00 - 13:00</td>
    <td>Advanced decision making and repetition structures
      <ul>
        <li>Nested if statements</li>
        <li>Nested loops</li>
        <li>Combine loops and if statements</li>
      </ul>
    </td>
    <td>Stanley Ndebvu</td>
  </tr>
  <tr>
    <td></td>
    <td>14:00 16:00</td>
    <td>Error handling</td>
    <td>Stanley Ndebvu</td>
  </tr>
  <tr>
    <td><strong>Wednesday, 20th</strong></td>
    <td>9:00 - 13:00</td>
    <td>Git &amp; GitHub</td>
    <td>Jessica Upani</td>
  </tr>
  <tr>
    <td></td>
    <td>14:00 - 16:00</td>
    <td>Functions
      <ul>
        <li>Build-in functions</li>
        <li>User defined functions</li>
      </ul>
    </td>
    <td>Jessica Upani</td>
  </tr>
  <tr>
    <td><strong>Thursday, 21st</strong></td>
    <td>9:00 - 13:00</td>
    <td>Modules
      <ul>
        <li>How to import modules</li>
        <li>Use modules (e.g. math module)</li>
        <li>Create modules</li>
        <li>Import user defined modules</li>
      </ul>
    </td>
    <td>Ralph Tambala</td>
  </tr>
  <tr>
    <td></td>
    <td>14:00 - 16:00</td>
    <td>Classes</td>
    <td>Ralph Tambala</td>
  </tr>
  <tr>
    <td><strong>Friday, 22nd</strong></td>
    <td>9:00 - 13:00</td>
    <td>Data analysis with numpy and pandas</td>
    <td>Ralph Tambala</td>
  </tr>
  <tr>
    <td></td>
    <td>14:00 - 16:00</td>
    <td>Data visualization</td>
    <td>Ralph Tambala</td>
  </tr>
</tbody>
</table>
