{{- $speakerfilter := .Get "speakers" -}}

{{ range sort (where (where site.RegularPages.ByDate "Section" "speakers") "published" "!=" "false") ".Params.weight" ".Params.speaker_name" "asc" }}


{{ if or (not $speakerfilter) (in $speakerfilter .File.ContentBaseName) }}

<a href="{{ .Permalink }}">

{{- $original := ((site.GetPage "/speakers").Resources.GetMatch (printf "*%s*" .Params.img_name)) -}}
{{- $new := "" -}}
{{- $new = $original.Fill "150x150" -}}

<img src="{{ $new.Permalink }}" alt="Speaker" class="img-speaker float-right" />

</a>


<h5>{{ .Params.speaker_name }}</h5>


{{ if .Content }}
  <p>
  {{ .Content | truncate 300 }} {{ if not .Params.skip_readmore }} <a href="{{ .Permalink }}">Read more »</a>{{ end }}
  </p>
{{ end }}

<div style="clear: both"></div>

{{ end }}


{{ end }}
