<div style="clear: both"></div>
{{ range sort (where (where site.RegularPages.ByDate "Section" "talks") "published" "!=" "false") ".Params.talk_date" "asc" }}

{{ if .Params.venue_event }}

  <h2>
  <span class="talktime">{{ dateFormat "15:04" .Params.talk_date }}</span>
  {{ .Title }}
  </h2>

{{ else }}
  <a href="{{ .Permalink }}">

  {{- $original := ((site.GetPage "/talks").Resources.GetMatch (printf "*%s*" .Params.img_name)) -}}
  {{- $new := "" -}}
  {{- $new = $original.Fill "150x150" -}}

  <img src="{{ $new.Permalink }}" alt="Speaker" class="img-speaker float-right" />

  <h2 class="no-link-styling">
  <span class="talktime">{{ dateFormat "15:04" .Params.talk_date }}</span>
  {{ .Title }}
  </h2>
  </a>

  <h5>{{ .Params.talk_by }}
  {{ if .Params.remote }}
  - remote 🌍
  {{ end }}
  {{ if .Params.stage }}
  - stage 🎤
  {{ end }}
  {{ if .Params.youtube_id }}
  <a href="{{ .Permalink }}">
    Watch talk 🎞️
  </a>
  {{ end }}
  </h5>

  {{ end }}

{{ if .Content }}
  <p>
  {{ .Content }}
  </p>
  <div style="clear: both"></div>
{{ end }}

{{ end }}
